@using WebApplication2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Üdvözlünk a Gépész Informatika Tantárában - GIT";
}

<center><h2>@ViewBag.Title.</h2></center>
<div class="row">
    <center>
    <div class="container">
       
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.AntiForgeryToken()
                <center><h4>Ha még nem használtad a felületet, kérünk, regisztrálj!</h4></center>
           
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                   
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Gmail-emailcímed" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                  
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Jelszavad"  })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Bejelentkezés" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Regisztráció" class="btn btn-default" />
                    </div>
                </div>
 

            }
        </section>
   </div>
        </center>
 

    <div class="col-md-4">
      
    </div>
</div>

